header {
    text-align: center;
    background-color: lightgray;
}

.header-col {
    padding-top: 0.5em;
}

.jdmlogo {
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-page {
    background-color: lightgray;
}

.main-form {
    margin-bottom: 1em;
    padding: 1em 10em;
    background-color: lightyellow;
}

.bottom {
    padding-bottom: 1em;
}
